@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  background: rgba(138, 144, 255, 0.9);
  height: auto;
}
header nav {
  width: 85%;
  margin: auto;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
header nav .collapseDiv {
  justify-content: end;
}
header nav .dropdown:hover .dropdown-menu {
  margin-top: 6px;
  display: block;
  border-radius: 0px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
main #ourBestrobotics {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 700px;
  background-image: url(/assets/images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #ourBestrobotics .image img {
  width: 100%;
}
main #ourBestrobotics .text h1 {
  font-size: 60px;
  color: white;
}
main #ourBestrobotics .text p {
  font-size: 15px;
  color: white;
}
main #ourBestrobotics .text #btn {
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
main #ourBestrobotics .text #btn:hover {
  background-color: transparent;
  color: white;
}
main #Showsection {
  min-height: 600px;
  display: flex;
  justify-content: center;
}
main #Showsection .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
main #Showsection .card {
  text-align: center;
  border: none;
  min-height: 181px;
  padding-top: 20px;
  cursor: pointer;
  background-color: #F9F9FF;
  padding: 10px;
  border-radius: 10px;
}
main #Showsection .card:hover #btn {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  color: white;
}
main #Showsection .card .images {
  max-width: 100%;
  height: auto;
}
main #Showsection .card h1 {
  font-size: 20px;
  height: 40px;
  margin: 20px 0px 0px;
}
main #Showsection .card p {
  font-size: 15px;
  height: 50px;
}
main #Showsection .card #btn {
  background-color: white;
  color: black;
  border: 0;
  padding: 10px 15px;
  margin: auto;
  width: 70% !important;
}
main #Professionalsection {
  background-image: url(/assets/images/feature-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #Professionalsection .professionalDiv .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main #Professionalsection .professionalDiv .head h1 {
  color: white;
  font-size: 50px;
  font-weight: 500px;
}
main #Professionalsection .professionalDiv .head p {
  color: white;
}
main #Professionalsection .professionalDiv .card {
  border-radius: 10px;
  background-color: white;
  min-height: 180px;
  margin-bottom: 20px;
}
main #Professionalsection .professionalDiv .card:hover .text * {
  transition: 0.3s;
  color: #828fff;
}
main #Professionalsection .professionalDiv .card .text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 20px;
  padding-top: 20px;
  transition: 0.3s;
}
main #Professionalsection .professionalDiv .card .text i {
  font-size: 25px;
  color: black;
}
main #Professionalsection .professionalDiv .card .text h5 {
  color: black;
  margin-top: 5px;
}
main #Professionalsection .professionalDiv .card p {
  margin: 20px;
}
main #bransArea .brandImage {
  display: flex;
  justify-content: space-between;
}
main #bransArea .brandImage img {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
main #bransArea .brandImage img:hover {
  filter: grayscale(0%);
}
main #blogSection .blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main #blogSection .blog h1 {
  font-weight: 700;
}
main #blogSection img {
  max-width: 100%;
  border-radius: 10px;
}
main #blogSection .btn {
  border: none;
  color: white;
  border-radius: 0;
  margin: 10px 0px;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
main #blogSection .btn:hover {
  background: white;
  color: #828fff;
  border: 1px solid #828fff;
}

#video .imgdiv {
  background: url(/assets/images/video-bg.jpg) no-repeat center;
  background-size: cover;
  height: 330px;
}
#video .imgdiv .grad {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
#video h6 {
  color: #8a90ff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 12px;
}
#video .primary-btn {
  background-image: linear-gradient(to right, #828fff 0%, #d496ff 100%);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
#video .primary-btn:hover {
  background: white;
  color: #828fff;
  border: 1px solid #828fff;
}

#globllyConnect {
  width: 100%;
  height: 643px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#globllyConnect .row {
  margin: 0;
  padding: 0;
}
#globllyConnect .row .robot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#globllyConnect .row .robot img {
  width: 100%;
  height: 100%;
}
#globllyConnect .row .globllyConnectTxt {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}
#globllyConnect .row .globllyConnectTxt button {
  max-width: 150px;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  color: white;
  border: none;
  padding: 10px 10px;
}
#globllyConnect .row .globllyConnectTxt button:hover {
  background: white;
  color: #828fff;
  border: 1px solid #828fff;
}

footer {
  padding: 40px;
  color: white !important;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .footerBoxes {
  display: flex;
  justify-content: space-between;
}
footer .footerBoxes ul {
  list-style: none !important;
}
footer .colorlib {
  min-height: 100px;
}
footer .colorlib input {
  line-height: 38px;
  border: none;
  background: #fff;
  font-weight: 300;
  border-radius: 20px;
  color: #777;
  padding-left: 20px;
  margin-right: 20px;
  width: 65%;
}
footer .colorlib button {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  line-height: 42px;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  width: 27%;
}
footer .colorlib p {
  color: white;
}
footer .colorlib i {
  color: white;
  padding: 20px;
}
footer .colorlib .feedİnstagram {
  gap: 10px;
}
footer .colorlib .feedİnstagram .top {
  margin-bottom: 5px;
}
footer .colorlib .social i {
  color: white;
  background-color: black;
}
footer .colorlib .footerLine {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #bransArea img {
    width: 15%;
  }
}
@media screen and (max-width: 992px) {
  .globllyConnectTxt {
    width: 100% !important;
  }
  .globllyConnectTxt h1 {
    width: 50%;
    font-size: 19px;
  }
  .footerBoxes,
  .footerLine {
    display: flex;
    flex-direction: column !important;
  }
  .form button {
    display: block;
    margin: 10px 0px;
  }
}